<!DOCTYPE html>
<html>
  <head>
    <title>Shoe Brand Distribution</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">    <link rel='stylesheet' href='/css/styles.css'>

    <!-- LOGO FONT: -->
    <link href="https://fonts.googleapis.com/css?family=BioRhyme" rel="stylesheet">
  </head>
  <body>

    <nav class="navbar-right navbar-inverse">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li class="active"><a href="/brands">Add Brand</a></li>
          <li class="active"><a href="/stores">Add Store</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>


  </body>
</html>
