<!DOCTYPE html>
<html>
  <head>
    <title>Employees and Projects</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body>

    <div class="container">
      <%= yield %>
    </div>

    <br>
    <hr>
    <br>

    <div id="navigation">
      <ul>
        <li><a href="/brands">View Brands</a></li>
        <li><a href="/stores">View Stores</a></li>
      </ul>
    </div>

  </body>
</html>
