<h3> Add a store: </h3>
<form action="/stores" method="post">
  <label for="store_name">Store Name:  </label>
  <input type="text" name="store_name" id="store_name">
  <button type="submit">Add Store</button>
</form>
